.container {
  height: 100%;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto 15px auto;
  padding: 15px;
  background-color: #fff;
}

.content {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-column-gap: 15px;
}
